@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="/Content/food.css">
<style>
    .navbar-inverse .navbar-nav > li > a {
        color: white;
        display: block;
        border: 1px solid cadetblue;
        background-color: cadetblue;
        font-size: larger;
        border-radius: 25px;
    }
</style>

<div class="title-big">
    <img src="/Img/logoDemo.png" style="width:100px" />
    ABC Garden Restaurant
</div>
<div>
    <div id="foodorder" style="border:0px solid red">

    </div>
</div>

<script src="~/dist/bundle.js"></script>